data/*.json
data/*.geojson
!data/territoire.geojson
!data/communes-deleguees.geojson
logs/*.log
uploads/photos/*
!uploads/photos/.gitkeep
uploads/documents/*
uploads/exports/*
uploads/backups/*
tools/php/
tools/*.zip
